.contenedor-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 500px;
  background-color: rgb(185, 238, 78);
  margin: 50px auto;
  border-radius: 30px;
  border: 10px solid white;
}
